body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.ant-layout-header {
  height: 70px !important;
}

.logo {
  width: 141px;
  height: 36px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

p.lead {
  font-size: 20px;
  line-height: 40px;
}

.logo img {
  vertical-align: baseline;
}

/* Home */

#home {
  padding: 100px 0;
}

#home .intro {
  margin-bottom: 50px;
}

#home .intro h2 {
  padding-right: 30px;
  font-size: 70px;
  line-height: 70px;
  margin-top: 50px;
  margin-bottom: 30px;
}

#home .intro .lead {
  padding-right: 30px;
  
  font-size: 20px;
  line-height: 40px;
  color: #314659;
}

#home .blog {
  background: #eff3f6;
  padding: 100px 0;
}

#home .blog-content {
  -webkit-box-shadow: 0 12px 20px #d8e0e6;
  box-shadow: 0 12px 20px #d8e0e6;
  background-color: #2f54eb;
  width: 100%;
}

#home .blog-intro {
  color: #fff;
  padding: 56px;
  line-height: 30px;
}

#home .blog-intro h2 {
  color: #fff;
}

#home .blog-items {
  background-color: #fff;
  padding: 56px;
}
